<% if (site.categories.length) { %>
    <div class="widget-wrap" id='categories'>
        <h3 class="widget-title">
            <span><%= __('widget.categories') %></span>
            &nbsp;
            <a id='allExpand' href="#">
                <i class="fa fa-angle-double-<%- theme.customize.category_perExpand ? 'up' : 'down' %> fa-2x"></i>
            </a>
        </h3>
        
        <% 
            function listCategories(categories, posts) {
                function layArticles(posts) {
                    var classifiedArticles = {'_root': []};
                    posts.forEach(function(post,i){
                            var last_post_cat;
                            var post_info = {
                            "title": post.title,
                            "path": url_for(post.path),
                            "_id": post._id
                        };
                        if(post.categories.length) {
                            last_cat_id = post.categories.data.slice(-1)[0]['_id'];
                            if(!classifiedArticles[last_cat_id]) classifiedArticles[last_cat_id] = [];
                            classifiedArticles[last_cat_id].push(post_info);
                        } else {
                            classifiedArticles['_root'].push(post_info);
                        }
                    });
                    return classifiedArticles;
                }
                function prepareQuery(categories, parent) {
                    var query = {};
                    if (parent) {
                        query.parent = parent;
                    } else {
                        query.parent = {$exists: false};
                    }
                    return categories.find(query).sort('name', 1).filter(function(cat) {
                        return cat.length;
                    });
                }
                function hierarchicalList(tree, parent, classifiedArticles) {
                  if(!tree.name) tree = {"name": "_root", "_id": "_root", "children": [], "articles": classifiedArticles['_root']};
                  prepareQuery(categories, parent).forEach(function(cat, i) {
                      var now_category = {
                          "_id": cat._id, 
                          "name": cat.name, 
                          "children": [],
                          "articles": classifiedArticles[cat._id]
                      };
                      if(is_post() && now_category.articles) {
                          now_category.articles.forEach(function(post, i) {
                              if(page._id == post._id) now_category["selected"] = true;
                          });
                      }
                      var childTree = hierarchicalList(now_category, cat._id, classifiedArticles);
                      if(childTree.selected) {tree["selected"] = true};
                      tree.children.push(childTree);
                  });
                  return tree;
                }
                var classifiedArticles = layArticles(posts);
                var categoriesTree = hierarchicalList({}, null, classifiedArticles);
                return categoriesTree;
            }
        %>
        <% 
            function visitTreePosts(branch, perExpand) {
             %> <ul class="unstyled" id="tree" <% if(perExpand) { %>style="display: block;"<% } %>> <%
                if(branch.children && branch.children.length) {
                    branch.children.forEach(function(category){
                    %>
                    <li class="directory<%- category.selected ? ' open' : '' %>">
                        <a href="#" data-role="directory">
                            <i class="fa fa-folder<%- (perExpand || category.selected) ? '-open' : '' %>"></i>
                            &nbsp;
                            <%- category.name %>
                        </a>
                        <% visitTreePosts(category, perExpand) %>
                    </li> 
                    <%  
                    });
                } 
                if(branch.articles && branch.articles.length) {
                    branch.articles.forEach(function(post){
                        %> <li class="file<%- (is_post() && post._id == page._id) ? ' active' : '' %>"><a href="<%- post.path %>"><%- post.title %></a></li> <%
                    });
                }
             %> </ul> <%
            }
        %>
        <%
            var categoriesTree = listCategories(site.categories, site.posts);
            visitTreePosts(categoriesTree, theme.customize.category_perExpand);
        %>
    </div>
    <script>
        $(document).ready(function() {
            var iconFolderOpenClass  = 'fa-folder-open';
            var iconFolderCloseClass = 'fa-folder';
            var iconAllExpandClass = 'fa-angle-double-down';
            var iconAllPackClass = 'fa-angle-double-up';
            // Handle directory-tree expansion:
            // 左键单独展开目录
            $(document).on('click', '#categories a[data-role="directory"]', function (event) {
                event.preventDefault();

                var icon = $(this).children('.fa');
                var expanded = icon.hasClass(iconFolderOpenClass);
                var subtree = $(this).siblings('ul');
                icon.removeClass(iconFolderOpenClass).removeClass(iconFolderCloseClass);
                if (expanded) {
                    if (typeof subtree != 'undefined') {
                        subtree.slideUp({ duration: 100 });
                    }
                    icon.addClass(iconFolderCloseClass);
                } else {
                    if (typeof subtree != 'undefined') {
                        subtree.slideDown({ duration: 100 });
                    }
                    icon.addClass(iconFolderOpenClass);
                }
            });
            // 右键展开下属所有目录
            $('#categories a[data-role="directory"]').bind("contextmenu", function(event){
                event.preventDefault();
                
                var icon = $(this).children('.fa');
                var expanded = icon.hasClass(iconFolderOpenClass);
                var listNode = $(this).siblings('ul');
                var subtrees = $.merge(listNode.find('li ul'), listNode);
                var icons = $.merge(listNode.find('.fa'), icon);
                icons.removeClass(iconFolderOpenClass).removeClass(iconFolderCloseClass);
                if(expanded) {
                    subtrees.slideUp({ duration: 100 });
                    icons.addClass(iconFolderCloseClass);
                } else {
                    subtrees.slideDown({ duration: 100 });
                    icons.addClass(iconFolderOpenClass);
                }
            })
            // 展开关闭所有目录按钮
            $(document).on('click', '#allExpand', function (event) {
                event.preventDefault();
                
                var icon = $(this).children('.fa');
                var expanded = icon.hasClass(iconAllExpandClass);
                icon.removeClass(iconAllExpandClass).removeClass(iconAllPackClass);
                if(expanded) {
                    $('#sidebar .fa.fa-folder').removeClass('fa-folder').addClass('fa-folder-open')
                    $('#categories li ul').slideDown({ duration: 100 });
                    icon.addClass(iconAllPackClass);
                } else {
                    $('#sidebar .fa.fa-folder-open').removeClass('fa-folder-open').addClass('fa-folder')
                    $('#categories li ul').slideUp({ duration: 100 });
                    icon.addClass(iconAllExpandClass);
                }
            });  
        });
    </script>
<% } %>